<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in one month. This is the sample application that I'm creating. Over the next month, this page will change, continuously updating while I learn more about rails!
</p>
