<div class="footer">
	<small>
		<%= link_to "One Month Rails", "http://onemonthrails.com"%> class by Mattan Griffel
		<p>
			Follow me on this journey
			<%= link_to "@angelacyue", "https://twitter.com/AngelaCYue"%> !
		</p>
	</small>
</div>